body {
  font-family: 'Poppins', sans-serif;
  overflow-X: hidden; }

#name {
  width: 22%;
  height: 35%; }

.logo {
  width: 300px; }

#dfej {
  height: 100%;
  width: 53%; }

html {
  overflow: auto; }

::-webkit-scrollbar {
  width: 8px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px; }

::-webkit-scrollbar-track-piece {
  background: #303030; }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-thumb:window-inactive {
  background: white; }

header {
  background: white;
  background: -moz-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, white), color-stop(47%, #f6f6f6), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -o-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: -ms-linear-gradient(top, white 0%, #f6f6f6 47%, #ededed 100%);
  background: linear-gradient(to bottom, white 0%, #f6f6f6 47%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0); }

header.scrolled {
  background-color: #303030; }

.menu_respo_men {
  color: #995C5C;
  position: fixed;
  z-index: 150;
  padding-right: 13px; }

.menu_respo {
  color: #995C5C;
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  z-index: 150;
  padding-top: 8px;
  padding-right: 17px; }

.burger {
  font-family: "Sweet Sans";
  font-size: 9px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.18em;
  transition: opacity 0.3s;
  display: block; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.sidenav a {
  text-decoration: none;
  font-size: 40px;
  color: #CCCCB8;
  display: block;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }

.sidenav a:hover {
  color: #f1f1f1; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-left: 50px; }

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }

  .sidenav a {
    font-size: 18px; } }
.menu {
  color: white;
  text-decoration: none;
  font-size: larger; }
  .menu:hover {
    text-decoration: none;
    color: white;
    font-weight: bold; }

.menu:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease; }

.menu:hover:after {
  width: 100%;
  background: white; }

@media (min-width: 240px) and (max-width: 299.98px) {
  #name {
    width: 45%;
    height: 35%; }

  .logo {
    width: 150px; }

  #dfej {
    height: 100%;
    width: 98%; }

  .sidenav a {
    font-size: 0.95rem; }

  .menu:after {
    height: 2px; }

  .menu_respo {
    font-size: 21px; }

  .menu_respo_men {
    font-size: 69% !important; } }
@media (min-width: 300px) and (max-width: 360.98px) {
  #name {
    width: 49%;
    height: 35%; }

  .logo {
    width: 120px; }

  #dfej {
    width: 96%; }

  .sidenav a {
    font-size: 1.5rem; }

  .menu:after {
    height: 2px; }

  .sidenav .closebtn {
    font-size: 40px; } }
@media (min-width: 361px) and (max-width: 575.98px) {
  .logo {
    width: 200px; }

  #name {
    width: 50%;
    height: 60%; }

  #dfej {
    width: 97%;
    height: 100%; }

  .sidenav a {
    font-size: 2.2rem; }

  .menu:after {
    height: 2px; }

  .sidenav .closebtn {
    font-size: 50px; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  #name {
    width: 36%; }

  .logo {
    width: 250px; }

  #dfej {
    width: 91%; }

  .menu:after {
    height: 2px; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  #name {
    width: 30%; }

  #dfej {
    width: 83%; }

  .logo {
    width: 300px; }

  .menu:after {
    height: 2px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  #name {
    width: 29%; }

  #dfej {
    width: 61%; }

  .logo {
    width: 300px; } }
.title {
  font-size: 4rem; }

.content {
  font-size: 1.2rem;
  padding-bottom: 4rem;
  margin-bottom: 1rem; }

hr {
  border-top: 1px solid black;
  width: 135px;
  margin: auto; }

.opacity:hover {
  opacity: 0.5 !important;
  transition: opacity .5s ease-in-out !important;
  -moz-transition: opacity .5s ease-in-out !important;
  -webkit-transition: opacity .5s ease-in-out !important; }

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
  background-color: transparent; }

.background_modal {
  background-color: #303030; }

.title_modal {
  color: white;
  text-align: center; }

.description_modal {
  color: white;
  padding-bottom: 2rem;
  font-size: large; }

.langage_modal {
  color: white; }

.description_langage_modal {
  color: white;
  font-size: large; }

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

li {
  margin-bottom: 15px; }

.close-modal {
  position: absolute;
  right: 38px;
  cursor: pointer;
  background-color: transparent; }
  .close-modal:hover {
    opacity: 0.3; }
  .close-modal .lr {
    /* Safari and Chrome */
    z-index: 1051;
    width: 1px;
    height: 40px;
    margin-left: 35px;
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: white; }
    .close-modal .lr .rl {
      /* Safari and Chrome */
      z-index: 1052;
      width: 1px;
      height: 40px;
      /* IE 9 */
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      background-color: white; }

.path_modal {
  color: white;
  text-decoration: none;
  font-size: larger; }
  .path_modal:hover {
    text-decoration: none;
    color: white;
    font-weight: bold; }

.path_modal:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease; }

.path_modal:hover:after {
  width: 100%;
  background: white; }

@media (min-width: 240px) and (max-width: 299.98px) {
  .title {
    font-size: 1rem; }

  .content {
    font-size: 0.6rem;
    padding-top: 0.5rem; }

  .title_modal {
    font-size: 0.75rem;
    margin: 21px 0 0 0; }

  .close-modal {
    position: absolute;
    top: 14px;
    right: -16px;
    width: 75px;
    height: 75px;
    cursor: pointer; }

  .close-modal .lr {
    height: 15px; }

  .close-modal .lr .rl {
    height: 15px; }

  .description_modal {
    font-size: 0.5rem; }

  .description_langage_modal {
    font-size: 0.52rem; }

  .langage_modal {
    font-size: 0.5rem; }

  .size_language {
    font-size: 0.45rem;
    padding-bottom: 1rem !important; }

  .size_media {
    padding-bottom: 1rem !important; } }
@media (min-width: 300px) and (max-width: 360.98px) {
  .title {
    font-size: 2rem; }

  .content {
    font-size: xx-small;
    padding-top: 0.5rem; }

  .title_modal {
    font-size: 1.05rem;
    margin: 23px 0 0 0; }

  .close-modal {
    position: absolute;
    top: 5px;
    right: -16px;
    width: 75px;
    height: 75px;
    cursor: pointer; }

  .close-modal .lr {
    height: 23px; }

  .close-modal .lr .rl {
    height: 23px; }

  .description_modal {
    font-size: 0.65rem; }

  .description_langage_modal {
    font-size: 0.65rem; }

  .size_media {
    padding-bottom: 1rem !important; }

  .langage_modal {
    font-size: 0.62rem; }

  .path_modal {
    font-size: x-small; }

  .path_modal:after {
    height: 1px; }

  .size_language {
    padding-bottom: 1rem !important; } }
@media (min-width: 361px) and (max-width: 575.98px) {
  .title {
    font-size: 3rem; }

  .content {
    font-size: 0.8rem;
    padding-bottom: 0.8rem; }

  .project_space {
    padding-bottom: 3rem; }

  .title_modal {
    font-size: x-large;
    padding-top: 2rem; }

  .description_modal {
    font-size: small; }

  .portfolio_media {
    width: 300px; }

  .langage_modal {
    font-size: smaller; }

  .description_langage_modal {
    font-size: unset; }

  .close-modal {
    position: absolute;
    top: 5px;
    right: -16px;
    width: 75px;
    height: 75px;
    cursor: pointer; }

  .close-modal .lr {
    height: 31px; }

  .close-modal .lr .rl {
    height: 31px; }

  .size_language {
    padding-bottom: 2rem !important; }

  .path_modal {
    font-size: inherit; }

  .path_modal:after {
    height: 2px; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  .content {
    font-size: medium;
    padding-bottom: 2rem; }

  .title_modal {
    font-size: large; }

  .description_modal {
    font-size: smaller; }

  .portfolio_media {
    width: 400px; }

  .description_langage_modal {
    font-size: unset; }

  .langage_modal {
    font-size: 0.95em; }

  .size_language {
    padding-bottom: 2rem !important; }

  .path_modal {
    font-size: smaller; }

  .close-modal {
    position: absolute;
    top: 5px;
    right: -16px;
    width: 75px;
    height: 75px;
    cursor: pointer; }

  .path_modal:after {
    height: 2px; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .content {
    padding-bottom: 2rem;
    font-size: initial; }

  .title_modal {
    font-size: xx-large; }

  .description_modal {
    font-size: initial; }

  .description_langage_modal {
    font-size: small; }

  .langage_modal {
    font-size: small; }

  .path_modal {
    font-size: medium; }

  .path_modal:after {
    height: 2px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .content {
    padding-bottom: 3rem;
    font-size: 1.1rem; }

  .title_modal {
    font-size: xx-large; }

  .description_modal {
    padding-bottom: 2rem;
    font-size: unset; }

  .description_langage_modal {
    font-size: medium; }

  .langage_modal {
    font-size: small; }

  .path_modal {
    font-size: small; } }
.section-about {
  padding: 2vh;
  margin-top: 19vh;
  position: relative;
  background-color: #303030;
  color: #fff;
  box-shadow: 0px -4px 7px #0000007a;
  z-index: 100; }
  .section-about hr {
    border-top: 1px solid #fff; }

.about_size {
  padding-bottom: 4rem; }

.jeanne {
  margin-bottom: 0rem; }

.path_pro {
  padding-bottom: 2rem;
  padding-top: 2rem; }

.progress {
  width: 20rem;
  background-color: dimgrey !important; }

.progress-bar {
  background-color: white !important;
  color: #303030;
  font-weight: bold; }

.start {
  font-size: 0.9rem; }

.techno {
  padding-left: 6rem;
  padding-right: 2rem; }

.path_modal_about {
  color: white;
  text-decoration: none;
  font-size: larger; }
  .path_modal_about:hover {
    text-decoration: none;
    color: white;
    font-weight: bold; }

.path_modal_about:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease; }

.path_modal_about:hover:after {
  width: 100%;
  background: white; }

@media (min-width: 240px) and (max-width: 299.98px) {
  .jeanne {
    font-size: 0.5rem;
    padding-top: 0.5rem; }

  .progress {
    width: 9rem; }

  .progress-bar {
    font-size: 0.6rem; }

  .techno {
    padding-left: 2rem;
    padding-right: 2rem; }

  .description_about {
    font-size: smaller;
    padding-left: 20px;
    padding-right: 20px; }

  .path_modal_about::after {
    height: 2px; }

  .path_pro {
    font-size: 0.5rem;
    padding-top: 3rem;
    padding-bottom: 2rem; }

  .techno_space {
    padding-top: 2rem !important; }

  .start {
    font-size: 0.6rem; } }
@media (min-width: 300px) and (max-width: 360.98px) {
  .section-about {
    margin-top: 14vh; }

  .progress {
    width: 9rem; }

  .progress-bar {
    font-size: 0.6rem; }

  .techno {
    padding-left: 2rem;
    padding-right: 2rem; }

  .description_about {
    font-size: smaller;
    padding-left: 20px;
    padding-right: 20px; }

  .path_modal_about::after {
    height: 2px; }

  .path_pro {
    font-size: 0.5rem;
    padding-top: 3rem;
    padding-bottom: 2rem; }

  .techno_space {
    padding-top: 2rem !important; }

  .start {
    font-size: 0.6rem; } }
@media (min-width: 361px) and (max-width: 575.98px) {
  .progress {
    width: 9rem; }

  .techno {
    padding-left: 0rem;
    padding-right: 1rem; }

  .path_modal_about {
    font-size: 12px; }

  .path_pro {
    padding-top: 3rem;
    padding-bottom: 2rem; }

  .techno_space {
    padding-top: 0rem !important;
    padding-left: 36px; }

  .section-about {
    margin-top: 10vh; }

  .description_about {
    font-size: smaller;
    padding-left: 20px; }

  .path_modal_about::after {
    height: 2px; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  .section-about {
    margin-top: 12vh; }

  .description_about {
    font-size: medium;
    padding-left: 20px; }

  .techno {
    padding-left: 2rem;
    padding-right: 2rem; }

  .path_pro {
    padding-bottom: 3rem;
    padding-top: 3rem; }

  .path_modal_about {
    font-size: unset; }

  .path_modal_about::after {
    height: 2px; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .section-about {
    margin-top: 15vh; }

  .path_modal_about::after {
    height: 2px; }

  .description_about {
    padding-left: 3rem;
    padding-right: 2rem; }

  .techno {
    padding-left: 3rem;
    padding-right: 2rem; }

  .path_pro {
    padding-top: 4rem;
    padding-bottom: 2rem; }

  .techno_space {
    padding-top: 1rem !important; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .techno {
    padding-left: 3rem;
    padding-right: 2rem; }

  .progress {
    width: 17rem; }

  .description_about {
    font-size: smaller; }

  .path_pro {
    padding-bottom: 3rem;
    padding-top: 2rem; }

  .path_modal_about {
    font-size: 0.95rem; } }
.section-contact {
  padding: 2vh;
  position: relative;
  background-color: white;
  color: #303030;
  box-shadow: 0px -4px 7px #0000007a;
  z-index: 100; }
  .section-contact hr {
    border-top: 1px solid #303030; }

.title_contact {
  padding-bottom: 4rem; }

.size-contact {
  font-size: 2em; }

.contact {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.fa-mobile {
  padding-right: 3.5rem;
  padding-left: 0.5rem; }

.fa-paper-plane {
  padding-right: 3.5rem; }

.email_path {
  color: #303030;
  text-decoration: none; }
  .email_path:hover {
    text-decoration: none;
    color: #303030;
    font-weight: bold; }

.email_path:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease; }

.email_path:hover:after {
  width: 100%;
  background: #303030; }

.phone_path {
  color: #303030;
  text-decoration: none; }
  .phone_path:hover {
    text-decoration: none;
    color: #303030;
    font-weight: bold; }

.phone_path:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease; }

.phone_path:hover:after {
  width: 100%;
  background: #303030; }

div#content {
  width: 100%;
  height: 0;
  padding-bottom: 40%;
  /* Change this till it fits the dimensions of your video */
  position: relative; }

div#content iframe {
  width: 100%;
  height: 80%;
  position: absolute;
  display: block;
  top: 0;
  left: 0; }

@media (min-width: 240px) and (max-width: 299.98px) {
  .title_contact {
    padding-bottom: 3rem; }

  .contact {
    padding-top: 4rem;
    font-size: 0.35rem; }

  .fa-mobile {
    padding-right: 0.5rem;
    padding-left: 0rem; }

  .fa-paper-plane {
    padding-right: 0.5rem; }

  #contact {
    padding-bottom: 2rem; }

  .phone_path::after {
    height: 2px; }

  .email_path::after {
    height: 2px; } }
@media (min-width: 300px) and (max-width: 360.98px) {
  .title_contact {
    padding-bottom: 3rem; }

  .contact {
    padding-top: 4rem;
    font-size: 0.49rem; }

  .fa-mobile {
    padding-right: 0.5rem;
    padding-left: 0rem; }

  .fa-paper-plane {
    padding-right: 0.5rem; }

  #contact {
    padding-bottom: 2rem; }

  .phone_path::after {
    height: 2px; }

  .email_path::after {
    height: 2px; } }
@media (min-width: 361px) and (max-width: 575.98px) {
  .title_contact {
    padding-bottom: 4rem; }

  .fa-mobile {
    padding-right: 0.5rem;
    padding-left: 0rem; }

  .fa-paper-plane {
    padding-right: 0.5rem; }

  .contact {
    padding-top: 3rem;
    font-size: 0.6rem; }

  .phone {
    padding-bottom: 0rem; }

  #contact {
    padding-bottom: 3rem; }

  .phone_path::after {
    height: 2px; }

  .email_path::after {
    height: 2px; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  .title_contact {
    padding-bottom: 4rem; }

  .size-contact {
    font-size: 23px; }

  .section-contact {
    padding-bottom: 2rem; }

  .phone_path::after {
    height: 2px; }

  .email_path::after {
    height: 2px; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .title_contact {
    padding-bottom: 4rem; }

  .contact {
    font-size: 0.69rem;
    padding-top: 3rem; }

  .contact_form_size {
    padding-bottom: 5rem; }

  .phone_path::after {
    height: 2px; }

  .email_path::after {
    height: 2px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .title_contact {
    padding-bottom: 5rem; }

  .contact {
    font-size: xx-small;
    padding-top: 2rem;
    padding-bottom: 2rem; } }
.footer-basic-centered {
  background-color: #303030;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 18px sans-serif;
  padding: 45px;
  margin-top: 80px; }

.footer-basic-centered .footer-company-motto {
  color: white;
  font-size: 24px;
  margin: 0; }

.footer-basic-centered .footer-company-name {
  color: white;
  font-size: 14px;
  margin: 0; }

.footer-basic-centered {
  list-style: none;
  font-weight: bold;
  color: #ffffff;
  padding: 35px 0 23px;
  margin: 0; }

.footer-basic-centered {
  display: inline-block;
  text-decoration: none;
  color: inherit; }

.footer_modal {
  color: white;
  text-decoration: none;
  font-size: 12px; }
  .footer_modal:hover {
    text-decoration: none;
    color: white;
    font-weight: bold; }

.footer_modal:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease; }

.footer_modal:hover:after {
  width: 100%;
  background: white; }

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 600px) {
  .footer-basic-centered {
    padding: 35px; }

  .footer-basic-centered .footer-company-motto {
    font-size: 18px; }

  .footer-basic-centered .footer-company-name {
    font-size: 12px; }

  .footer-basic-centered {
    font-size: 14px;
    padding: 25px 0 20px; }

  .footer-basic-centered {
    line-height: 1.8; } }
@media (min-width: 240px) and (max-width: 299.98px) {
  .logo_blanc {
    width: 100px; }

  .footer_modal {
    font-size: 0.5rem; }

  .footer_modal::after {
    height: 2px; }

  .footer-basic-centered .footer-company-name {
    font-size: 0.45rem; } }
@media (min-width: 300px) and (max-width: 360.98px) {
  .logo_blanc {
    width: 130px; }

  .footer_modal {
    font-size: 0.59rem; }

  .footer_modal::after {
    height: 2px; }

  .footer-basic-centered .footer-company-name {
    font-size: 0.45rem; } }
@media (min-width: 361px) and (max-width: 575.98px) {
  .logo_blanc {
    width: 150px; }

  .footer_modal::after {
    height: 2px; }

  .footer_modal {
    font-size: smaller; }

  .footer-basic-centered .footer-company-name {
    font-size: 7px; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  .footer_modal {
    font-size: smaller; }

  .footer-basic-centered .footer-company-name {
    font-size: 8px; }

  .footer_modal::after {
    height: 2px; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .footer-basic-centered {
    padding-top: 5rem; }

  .footer_modal {
    font-size: smaller; }

  .footer-company-name {
    font-size: x-small !important; }

  .footer_modal::after {
    height: 2px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  .footer-basic-centered {
    padding-top: 5rem; }

  .footer_modal {
    font-size: 0.75rem; }

  .footer-company-name {
    font-size: 0.6rem !important; } }

/*# sourceMappingURL=style.css.map */
