html {
  overflow: auto; }

::-webkit-scrollbar {
  width: 8px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px; }

::-webkit-scrollbar-track-piece {
  background: #303030; }

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: white;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-thumb:window-inactive {
  background: white; }

.background {
  text-align: center;
  color: #fff;
  background-image: url(../media/water-droplets-on-a-hanging-white-tulip.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  padding-top: 300px;
  padding-bottom: 200px; }

.menu_choice {
  color: #fff;
  text-decoration: none;
  font-family: 'Cardo', serif;
  font-size: xx-large;
  display: inline-block; }
  .menu_choice:hover {
    text-decoration: none;
    color: black; }

.menu_choice:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease; }

.menu_choice:hover:after {
  width: 100%;
  background: black; }

.menu {
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0%;
  background-color: #303030;
  text-align: center;
  opacity: 0.85;
  box-shadow: 0 0 7px rgba(48, 48, 48, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  left: 100%;
  padding-top: 180px;
  display: unset;
  z-index: 9;
  animation: not-checked-anim 1s ease-in-out both; }
  .menu__link {
    padding: 10px;
    color: rgba(0, 0, 0, 0.4);
    position: relative;
    transition: 0.3s ease-in-out;
    padding: 10px 24px 10px 10px;
    display: block; }
  .menu li {
    list-style-type: none;
    position: relative;
    text-align: center;
    transition: 0.3s ease-in-out; }

#menu-checkbox {
  display: block;
  width: 40px;
  height: 35px;
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  opacity: 0;
  z-index: 11; }

.burger__element {
  display: block;
  position: fixed;
  top: 20px;
  right: 12px;
  background-color: #000;
  width: 30px;
  height: 4px;
  margin: 4px;
  transition: 0.5s ease-in-out;
  z-index: 10;
  cursor: pointer;
  border-radius: 3px; }
  .burger__element::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    background-color: #000;
    width: 30px;
    height: 4px;
    border-radius: 3px; }
  .burger__element::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    background-color: #000;
    width: 30px;
    height: 4px;
    border-radius: 3px; }

#menu-checkbox:checked ~ .burger__element {
  transform: rotate(180deg);
  transition: 0.5s ease-in-out; }

#menu-checkbox:checked ~ .burger__element::before {
  width: 20px;
  top: 2px;
  left: -8px;
  transform: rotate(45deg) translateX(5px);
  transition: 0.5s ease-in-out; }

#menu-checkbox:checked ~ .burger__element::after {
  width: 20px;
  top: 2px;
  left: -12px;
  -webkit-transform: rotate(-45deg) translateX(-5px);
  transform: rotate(-45deg) translateX(12px);
  transition: 1s ease-in-out; }

#menu-checkbox:checked ~ .menu {
  animation: checked-anim 1s ease-in-out both; }

@keyframes checked-anim {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(-100%); } }
@keyframes not-checked-anim {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0%); } }
.project {
  font-family: 'Open Sans Condensed', sans-serif; }

.title {
  font-size: 4rem; }

.content {
  font-size: 1.2rem; }

hr {
  border-top: 1px solid black;
  width: 135px; }

.opacity {
  cursor: url("../media/cursor.cur"), pointer !important; }

.opacity:hover {
  opacity: 0.5 !important;
  transition: opacity .5s ease-in-out !important;
  -moz-transition: opacity .5s ease-in-out !important;
  -webkit-transition: opacity .5s ease-in-out !important; }

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
  background-color: transparent; }

.background_modal {
  background-color: #303030; }

.title_modal {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center; }

.description_modal {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: large; }

.langage_modal {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif; }

.description_langage_modal {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: large; }

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

li {
  margin-bottom: 15px; }

.close-modal {
  position: absolute;
  right: 38px;
  cursor: pointer;
  background-color: transparent; }
  .close-modal:hover {
    opacity: 0.3; }
  .close-modal .lr {
    /* Safari and Chrome */
    z-index: 1051;
    width: 1px;
    height: 50px;
    margin-left: 35px;
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: white; }
    .close-modal .lr .rl {
      /* Safari and Chrome */
      z-index: 1052;
      width: 1px;
      height: 50px;
      /* IE 9 */
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      background-color: white; }

.path_modal {
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  font-size: larger; }
  .path_modal:hover {
    text-decoration: none;
    color: white;
    font-weight: bold; }

.path_modal:after {
  content: '';
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width .5s ease, background-color .5s ease; }

.path_modal:hover:after {
  width: 100%;
  background: white; }

.section-about {
  padding: 2vh;
  margin-top: 19vh;
  position: relative;
  background-color: #303030;
  color: #fff;
  box-shadow: 6px -4px 7px #0000007a;
  font-family: 'Open Sans Condensed', sans-serif; }
  .section-about hr {
    border-top: 1px solid #fff; }

.progress {
  width: 20rem;
  background-color: dimgrey !important; }

.progress-bar {
  background-color: white !important;
  color: #303030;
  font-weight: bold; }

.start {
  font-size: 0.9rem; }

.techno {
  padding-left: 6rem;
  padding-right: 2rem; }

/*# sourceMappingURL=style.css.map */
